h1{
    text-align: center;
}
/* se crea este bloque para separar el background y la foto del resto de elementos inferiores*/
.bloque{
    height: 500px;
}

.contenido-profile{
    margin: 60px 150px 60px 150px;
}

p{
    font-size: 25px;
}
.parrafo1-profile{
    text-align: justify;
    font-family: var(--secondary-font);
    line-height: 35px;
}

.encabezado-profile{    
    background-image: url("https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); 
    background-size: cover;
    background-position-y: 62%;
}
.img-profile{
    position: relative;
    top: 150px;
    display: block;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    margin: auto;
    width: 250px;
}

img{
    width: 25px;
}

.texto{
    font-family: var(--secondary-font);
    font-size: 25px;
}

.imagen{
    padding-top: 4px;
}

.lista-profile {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 0.05fr 1.6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "imagen1 texto1"
      "imagen2 texto2"
      "imagen3 texto3"
      "imagen4 texto4"
      "imagen5 texto5"
      "imagen6 texto6";
  }
  
  .imagen1 { grid-area: imagen1; }
  
  .imagen2 { grid-area: imagen2; }
  
  .imagen3 { grid-area: imagen3; }
  
  .imagen4 { grid-area: imagen4; }
  
  .imagen5 { grid-area: imagen5; }
  
  .imagen6 { grid-area: imagen6; }
  
  .texto1 { grid-area: texto1; }
  
  .texto2 { grid-area: texto2; }
  
  .texto3 { grid-area: texto3; }
  
  .texto4 { grid-area: texto4; }
  
  .texto5 { grid-area: texto5; }
  
  .texto6 { grid-area: texto6; }
  