<div class="bloque">
    <div class="encabezado-profile">
        <img src="assets/imagenes/profile.JPEG" alt="profile" class="img-profile">
    </div>
</div>
<h1>Miryan Lopez</h1>
<div class="contenido-profile">
    <div class="acerca-profile">
        <h2>Acerca de mi</h2>
        <p class="parrafo1-profile">
            Llevo 4 meses formándome en tecnlogías Web, como lo son <strong>HTML, CSS y Javascript</strong>. Además, en
            el curso en el que me encuentro actualmente, estamos adquiriendo conocimientos sobre
            <strong>Angular</strong>, disfrutando el proceso y conocimiento más acerca de todo el universo de desarrollo
            Web. Con muchas expectativas de que llegue el momento en el que pueda ejercer como desarrolladora y seguir
            aprendiendo más, conociendo más herramientas y profundizando mis conocimientos en las herramientas que hoy
            conozco. Gracias al esfuerzo y al interés de los mentores por apoyarme, siento que cada día aprendo un poco
            más.
        </p>
        <p class="parrafo1-profile">
            He trabajo en diferentes proyectos durante este tiempo de aprendizaje y he podido practicar todas las
            tecnlogías que he visto estudiando.
        </p>
    </div>
    <h2>Conocimientos y herramientas</h2>
    <p class="parrafo1-profile">
        A través de las prácticas de las diferentes tecnologías y herramientas, hoy puedo contar entre mis
        conocimientos, los siguientes:
    </p>
    <div class="lista-profile">
        <div class="imagen1 imagen">
            <img src="assets/icons/html.png" alt="">
        </div>
        <div class="imagen2 imagen">
            <img src="assets/icons/css.png" alt="">
        </div>
        <div class="imagen3 imagen">
            <img src="assets/icons/javascript.png" alt="">
        </div>
        <div class="imagen4 imagen">
            <img src="assets/icons/angular.png" alt="">
        </div>
        <div class="imagen5 imagen">
            <img src="assets/icons/figma.png" alt="">
        </div>
        <div class="imagen6 imagen">
            <img src="assets/icons/visual.png" alt="">
        </div>
        <div class="texto1 texto">HTML</div>
        <div class="texto2 texto">CSS</div>
        <div class="texto3 texto">Javascript</div>
        <div class="texto4 texto">Angular</div>
        <div class="texto5 texto">Figma</div>
        <div class="texto6 texto">Visual Studio Code</div>
      </div>
</div>