/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


:root{
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Exo", sans-serif;
    --terciary-font: "Alegreya", "sans-serif";
    --quaternary-font: 'Playfair Display', serif;
}

body{
    font-family: var(--primary-font);
    font-weight: 100;
    margin: 0%;
}

