<div class="titulo block-center">
<h1>Diseñadora y programadora Front-end</h1>
<p class="block-center">Hola, soy Miryan, una diseñadora y programadora Front-end con 2 meses de experiencia creado y diseñando aplicaciones web. </p>
</div>
<div class="contenedor">
    <div class="tarjeta1">
        <div class="imagen-tarjeta">
            <img
                src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        </div>
        <div class="info-tarjeta">
            <h3>Diseño web</h3>
            <p class="descripcion-D">
                Un diseño basado en una estructura de contenido simple, con patrones de diseño limpios.
            </p>
        </div>
    </div>
    <div class="tarjeta1">
        <div class="imagen-tarjeta">
            <img
                src="https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80">
        </div>
        <div class="info-tarjeta">
            <h3>Desarrollo Front-end</h3>
            <p class="descripcion-D">
                Codificación de proyectos desde cero, pensando en el rendimiento y la seguridad de la aplicación.
            </p>
        </div>
    </div>
</div>


<!-- 
imagen para diseno


imagen para desarrollo

 -->